# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id

# VS Code/IntelliJ/Android Studio
.idea/
*.iml
.vscode/

# Mac/Linux/Windows system files
.DS_Store
*.swp

# Logs
*.log

# Android Studio
*.class

# Xcode
ios/Pods/
macos/Pods/
**/Flutter/ephemeral/
xcuserdata/
DerivedData/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/

# Others
.history
.svn/